:root{
    line-height: 1.2;
    --primary-blue:#2660A3;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;  
    font-weight: 400; 
  }
